<h2><%= @user.login %> </h2>
<p>Member since <%= @user.created_at.to_s(:long) %> </p>
<p>简介</p>

<h3>博客</h3>
<ul id="entries">
  <% for entry in @entries  %>
    <li>
      <%= link_to entry.title, user_entry_path(@user.id, entry.id)  %>

    </li>
  <% end %>

</ul>

<p>
  <%= link_to "查看#{@user.login}的博客",user_entries_path(@user.id) %>
</p>