<div id="banner" class="border">
 <!--   <div id="banner_bg"></div> -->
    <div id="banner_info"></div>
    <ul>
        <li class="on">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
   <div id="banner_list">
        <ul>
            <li>
              <a href="#" target="_blank"><img src="assets/pics/p11.jpg" title="" alt="" /></a>
              <div class="txt">
                <span class="title">圣诞节档期大片抢先看</span>
                <span class="content">《金陵十三钗》《碟中谍4》《龙门飞甲》《大魔术师》《倾城之泪》《一代宗师》等圣诞节大片等您来鉴赏......</span>
              </div>
            </li>
            <li>
              <a href="#" target="_blank"><img src="assets/pics/p12.jpg" title="" alt="" /></a>
              <div class="txt">
                <span class="title">圣诞节快乐！</span>
                <span class="content">圣诞节尴尬之最：夹起火鸡想到禽流感；收到礼物恐有核炸弹；肩扛口袋好似捡破烂；贴上胡子引发大骚乱——我的天！拉登重新出现！ </span>
              </div>
            </li>
            <li>
              <a href="#" target="_blank"><img src="assets/pics/p13.jpg" title="" alt="" /></a>
                <div class="txt">
                <span class="title">圣诞节快乐！</span>
                <span class="content">俺是者哥史街伤嘴惯信泥地任，椰是嘴向年泥地任，腰吻俺邮夺矮泥，约粮呆标俺地信！
俺腰窄吓耶孔种嘴命粮地猩猩松泥！啊！芹矮地，向泥！圣诞节快乐！ </span>
              </div>
            </li>
            <li>
              <a href="#" target="_blank"><img src="assets/pics/p14.jpg" title="" alt="" /></a>
              <div class="txt">
                <span class="title">哈利波特-好莱坞环球影城</span>
                <span class="content">哈利波特好莱坞环球影城<br/>好莱坞环球影城（Universal Studios Hollywood）6日举行了一个发布会，正式宣布该乐园将建设哈利波特魔法世界（The Wizarding World of Harry Potter）
                  -可能在2015年开幕 </span>
              </div>

            </li>
        </ul>

    </div>
</div>


<div id="infobar" class="border">
    <div class="c_1">
       <div class="c_t1">
         <h2>推荐阅读</h2>
         <span class="c_m1"><a href="">更多 </a></span>
       </div>
       <div class="c_c1">
        <ul class="c_u1">
          <% @top_articles.each do |article| %>
            <li><span class="dian01">·</span>
                <% if article.category  %>
                <%= link_to '['+article.category.name+'] '+article.title, article ,:target => '_blank'%>
                <% else %>
                <%= link_to article.title, article, :target => '_blank' %>
                <% end %>
            </li>
          <% end %>
        </ul>
      </dir>
    </div>
    </div>


</div>

<div class="adbar border">
<img src="assets/pics/adi.jpg" width="680" height="60" border="0" alt="lehazi.com" title="寻找利益与风险的分享者">
</div>

<div id="messagebar" class="border">
    <div class="c_2">
      <div class="c_t2">
        <h2>笑话幽默</h2>
        <span class="c_m2"><a href="#">更多</a></span>
      </div>
      <div class="c_c2">
        <ul class="c_u2">
            <% @top_funs.each do |fun| %>
            <li><span class="dian01">·</span>
                <%= link_to fun.title, fun ,:target => '_blank'%>
            </li>
            <% end %>
        </ul>
      </div>

    </div>
</div>
<div class="adbar1 border">
  <img src="assets/pics/adi1.jpg" width="680" height="120" border="0"
       alt="非官方 ，在野党，全部野史，贻笑大方--邀你加盟"
       title="非官方 ，在野党，全部野史，贻笑大方--邀你加盟">
</div>
<style type="text/css">

#banner {position:relative; width:680px; height:286px; border:0px ; overflow:hidden;}

#banner_list img {border:0px;}
#banner_bg {position:absolute; bottom:0;background-color:#000;height:30px;filter: Alpha(Opacity=30);opacity:0.3;z-index:1000;
cursor:pointer; width:478px; }
#banner_info{position:absolute; bottom:0; left:5px;height:22px;color:#fff;z-index:1001;cursor:pointer}
#banner_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;}
#banner ul {position:absolute;list-style-type:none;filter: Alpha(Opacity=80);opacity:0.8; z-index:1002;
            margin:0; padding:0; bottom:3px; right:40px;}
#banner ul li { padding:0px 8px;margin: 2px; float:left;display:block;color:#FFF;background:#6f4f67;cursor:pointer}
#banner ul li.on { background:#900}
#banner_list a{position:absolute;}

#banner_list ul {position:absolute;list-style-type:none;z-index:0;
            margin:0; padding:0;top:0;left:0}
#banner_list ul li {position:absolute; top:0;left:0; margin:0;padding:0px ;z-index: 0;float:left;display:block;color:#FFF;background:#6f4f67;cursor:pointer}
#banner_list ul li a {position:absolute; top:0;left:0; margin:0;padding:0px ;}
#banner_list ul li .txt {position:absolute; left:478px; margin:0;padding:0px ;width: 200px; height: 286px;background-color: #000;}
#banner_list ul li .txt .title{ font-size: 13px;color: yellow; display: block; margin: 10px;}
#banner_list ul li .txt .content{ font-size: 12px; line-height: 24px; color: #FFF; text-indent: 24px;  display: block; margin: 0 10px;}


#banner_list ul li.selected{z-index: 1;}

.dian01{color: #D18CD9;}
.adbar {position:relative; width:680px; height:60px;background-color: #f5deb3; overflow:hidden; }
.adbar1 {position:relative; width:680px; height:120px;background-color: #f5deb3; overflow:hidden; }

#infobar {position:relative; width:680px; height:286px; border:0px ; overflow:hidden;background-color: #FFFFFF;}
    #infobar .c_1 {display: block;overflow: hidden;margin: 8px 0px 0px;padding: 0px;border: 1px solid #E9EEF1;zoom: 1;height: 276px;    }
        #infobar .c_1 .c_t1{background-color:#E9EEF1; height: 30px;display: block;overflow: hidden;margin: 0px;padding: 0px;    }
        #infobar .c_1 .c_t1 h2 {color:#333;font-size: 14px;font-weight: bold;display: inline;float: left;overflow: hidden;margin: 8px 0px 0px 8px;}
        #infobar .c_1 .c_t1 .c_m1 {width: 48px;height: 28px;display: inline;float: right;margin: 0px;padding: 0px;cursor: pointer;    }
    #infobar .c_1 .c_c1{width: 98%;overflow: hidden;display: block;margin: 0px auto;padding: 0px;zoom: 1;    }
    #infobar .c_1 .c_c1 ul.c_u1{width: 664px;display: block;overflow: hidden;float: right;margin: 8px 0px;padding: 0px;    }
    #infobar .c_1 .c_c1 ul.c_u1 li{width: 48%;display: inline;overflow: hidden;float: left;height: 20px;margin: 0px 4px 0px 2px;
        padding: 2px 0px 3px 0px;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;list-style: none;color: #B21515;    }

#messagebar {position:relative; width:680px; height:286px; border:0px ; overflow:hidden;background-color: #FFFFFF;}
#messagebar .c_2 {display: block;overflow: hidden;margin: 8px 0px 0px;padding: 0px;border: 1px solid #E9EEF1;zoom: 1;height: 276px;    }
    #messagebar .c_2 .c_t2{background-color:#E9EEF1; height: 30px;display: block;overflow: hidden;margin: 0px;padding: 0px;    }
    #messagebar .c_2 .c_t2 h2 {color:#333;font-size: 14px;font-weight: bold;display: inline;float: left;overflow: hidden;margin: 8px 0px 0px 8px;}
    #messagebar .c_2 .c_t2 .c_m2 {width: 48px;height: 28px;display: inline;float: right;margin: 0px;padding: 0px;cursor: pointer;    }
#messagebar .c_2 .c_c2{width: 98%;overflow: hidden;display: block;margin: 0px auto;padding: 0px;zoom: 1;    }
    #messagebar .c_2 .c_c2 ul.c_u2{width: 664px;display: block;overflow: hidden;float: right;margin: 8px 0px;padding: 0px;    }
    #messagebar .c_2 .c_c2 ul.c_u2 li{width: 32%;display: inline;overflow: hidden;float: left;height: 20px;margin: 0px 4px 0px 2px;
        padding: 2px 0px 3px 0px;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;list-style: none;color: #B21515;    }

</style>
