<div class="game_nav fix clear">
   游戏 » 网络游戏
</div>

<div class="leftbar">
  <ul>
    <li><a>网络游戏</a></li>
    <li><a>网络游戏</a></li>
    <li><a>网络游戏</a></li>
    <li><a>网络游戏</a></li>
    <li><a>网络游戏</a></li>
    <li><a>网络游戏</a></li>
    <li><a>网络游戏</a></li>
    <li><a>网络游戏</a></li>
    <li><a>网络游戏</a></li>
  </ul>


</div>

<div class="content">
  <ul>
    <li><img src="" alt="">shuoming</li>
    <li><img src="" alt="">shuoming</li>
    <li><img src="" alt="">shuoming</li>
    <li><img src="" alt="">shuoming</li>
    <li><img src="" alt="">shuoming</li>
    <li></li>
  </ul>

</div>

<style type="text/css">
  #menubar a.m_game{background: #9999ff;    color:#FFF;}
#menubar a.m_funs,a.m_home,a.m_novel,a.m_arti,a.m_baidu, a.m_tianya,a.m_le{}
</style>
