<h1>Editing fun</h1>

<%= render 'form' %>

<%= link_to 'Show', @fun %> |
<%= link_to 'Back', funs_path %>
<style type="text/css">
#menubar a.m_funs{background: #9999ff;    color:#FFF;}
#menubar a.m_arti,a.m_home,a.m_novel,a.m_game,a.m_zu, a.m_piao,a.m_le{}
</style>