/*p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }
*/
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #00c;
  text-decoration: none;
  &:visited {
    color: #00c; }
  &:hover {
    color: #f00;
    } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }


table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

ol, ul {
  list-style: none; }

li {
  display: block; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0; }

sup {
  font-size: 0.6em;
  line-height: 1;
  vertical-align: top; }




.float-right {
  float: right; }

.float-left {
  float: left; }

.center {
  text-align: center; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both; }

.bold {
  font-weight: bold; }

.quiet {
  color: #999999 !important; }

.redbold {
  font-weight: bold !important;
  color: #b31e3f !important; }

.italic {
  font-style: italic; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.red, .reqd, .error, .important {color: red; }
.border {margin-bottom: 6px;}

th { background-color: #cff; color: #111; }
tr.odd { background-color: #fff; }
tr.even { background-color: #eecccc; }
