// Place all the styles related to the we controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#we #we-side{font-size: 80%; float:left;width:100px;padding:0px}
#we #we-side ul{list-style:none; margin-left:10px;padding:0}
#we #we-content{float:right;width:850px}