       <div class="widget popular-posts border">
        <h3>AD链接</h3>
         <ul>
        <li>

        </li>
        </ul>
        </div>

       <div class="widget  popular-article border">
        <h3>AD链接</h3>
         <ul>
        <li>

        </li>
        </ul>
        </div>