       <div class="widget popular-posts border">
        <h3>AD链接</h3>
         <ul>
        <li><iframe src="http://rcm-cn.amazon.cn/e/cm?t=sitoto-23&o=28&p=12&l=ur1&category=wireless&banner=1ZN6WEMAXXNMBVKVKB02&f=ifr" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe></li>
        </ul>
        </div>

       <div class="widget  popular-article border">
        <h3>AD链接</h3>
         <ul>
        <li><iframe src="http://rcm-cn.amazon.cn/e/cm?t=sitoto-23&o=28&p=12&l=ur1&category=udio_video&banner=0ZE0BN11MEMWBQ0ZZXG2&f=ifr" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>


 </li>
        </ul>
        </div>