
  %html
    %head
      %title="Login"
      =stylesheet_link_tag "standard", "login"
    %body
      #wrapper
        #login-box
          #content
            =yield
        #copyright
          Copyright &copy; 2011 President office of the 3rd division All rights reserved